@import "./partials/normalize";
@import "./partials/variables";

html,
.mainB {
  font-family: 'Pangolin', cursive;
  height: 100%;
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: cover;
}

.mainB {
  overflow: hidden;
}

.git {
  font-size: 10pt;
  transform: rotate(45deg);
  width: 35vh;
  position: fixed;
  z-index: 5;
  right: -10.5vh;
  top: 5%;
  height: 3vh;
  opacity: .8;
  background: darkorange;
  letter-spacing: 3.5px;
}

.git:hover {
  cursor: pointer;
  opacity: 0.8;
  letter-spacing: 7.5px;
}

.git-p {
  font-size: 12pt;
  text-align: center;
  color: #fff;
}

.git-p a {
  color: #fff;
}

.git-p a:hover {
  text-decoration: none;
}

.norelise {
  display: none;
  margin-top: 10vh;
  text-align: center;

}

.h2-norelise {
  font-weight: bold;
  color: #e1922c;
  font-size: 36pt;

}

.p-norelise {
  font-weight: bold;
  color: #e1922c;

}

//if (span > br) {
//  background: red;
//  width: 100%;
//  display: block;
//}
//

.clock {
  font-size: 24pt;
  color: #e1922c;
}

.share {
  position: fixed;
  right: 0;
  top: 25%;
}

.mb-row:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.img-norelise {
  margin-top: 40px;
  width: 150px;
}

.body {
  background: url(../img/game-bg.jpg);
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;

}

.content {
  flex: 1 0 auto;
}

#main {
  min-height: 100vh;

}

footer {
  text-align: justify;
  flex: 0 0 auto;
  min-height: 10vh;
  margin: 40px 0 0 0;
  background: #191915;
  font-size: 11pt;
  color: ivory;
  padding: 20px 0 20px 0;
}

.h1-game {
  text-align: center;
}

#new-words {
  text-align: justify;
  padding: 45px;
  font-size: 13pt;
  font-weight: 300;
  resize: none;
  width: 100%;
  height: 100%;
}

.label {
  position: relative;
  top: 6%;
  left: 4%;
  width: 92%;
  height: 67%;

}

.monitor {
  width: 100%;
  height: 339px;
  background: url(../img/monitor.png);
  background-size: cover;

}

#new-words-div {
  margin: 60px 0 60px 0;
}

.btn-in {
  margin-top: 15vh;
}

#btn-push {
  background: url(../img/push-btn1.png);
  background-size: cover;
  width: 240px;
  height: 100px;
  border: none;
}

#btn-push:hover {
  cursor: pointer;
  opacity: 0.8;

}

#game-main {
  height: 90vh;
  width: 100%;
}

hr {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#game {
  background: url(../img/monitor.png);
  background-size: cover;
  height: 700px;
  width: 920px;
  margin: -10px auto 0 auto;

}

.pre-game {
  text-align: center;
  font-size: 13pt;
  margin: 0;
}

.pre-game-small {
  text-align: center;
  font-size: 10pt;
}

.top-in-game {
  padding: 40px 0 0 0;
  text-align: center;

}

.text-game {
  overflow-y: auto;
  word-wrap: break-word;
  height: 60%;
  width: 95%;

}

#wordsArrPlace {
  color: #000;
  font-size: 13pt;
  margin: 10px;
  padding: 10px 25px 0 50px;
  line-height: 2;
  text-align: justify;

}

.p-temp {
  padding: 0 0 0 35px;
  color: #000;
}

.p-score {
  padding: 0;
  color: #000;
}

.p-errors {
  padding: 0;
  color: crimson;
}

.p-speed {
  padding: 0 35px 0 0;
}

#info {
  z-index: 1000;
  position: relative;
  top: 55px;
  background: url(../img/info.png) no-repeat;
  background-size: contain;
  left: 0;
  height: 70px;
  margin: 15px 0 0 0;
}

//#about {
//  z-index: 1000;
//  position: relative;
//  top:25px;
//  background: url(https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/questionssvg-512.png) no-repeat;
//  background-size: contain;
//  left: 0;
//  height: 70px;
//  margin: 15px 0 0 0;
//}

#telega {
  z-index: 1000;
  position: relative;
  top: 55px;
  background: url(../img/telega.png) no-repeat;
  background-size: contain;
  left: 0;
  height: 70px;
  margin: 15px 0 0 0;

}

.s-off {
  z-index: 1000;
  position: relative;
  top: 55px;
  background: url(../img/S-off.png) no-repeat;
  background-size: contain;
  left: 0;
  height: 70px;
  margin: 15px 0 0 0;
}

.s-onn {
  z-index: 1000;
  position: relative;
  top: 55px;
  background: url(../img/S-onn.png) no-repeat;
  background-size: contain;
  left: 0;
  height: 70px;
  margin: 15px 0 0 0;
}

.bring {
  transform: scale(1.2);
}

#info:hover, #about:hover, #telega:hover, #sound:hover {
  cursor: pointer;
}

#telega:hover, #sound:hover {
  transform: scale(1.2);
}

#rules, #about-div {
  display: none;
}

.rules {
  position: absolute;
  display: block !important;
  top: -5vh;
  left: 60px;
  left: 60px;
  width: 90%;
  height: 700px;
  border-radius: 20px;
  background: url(../img/rules-bg.png) no-repeat;
  background-size: 100% 100%;

}

.rules-text, .about-div-text {
  position: relative;
  width: 80%;
  top: 17%;
  left: 16%;

}

.rules-p {
  padding: 0 0 0 20px;
  width: 80%;
  text-align: justify;
  color: ivory;

}

.about-div-text-p {
  text-align: justify;
  font-size: 11pt;
  width: 80%;
  color: ivory;
}

.c0 {
  padding: 0;
}

.about-ul {
  font-size: 10pt;
  list-style-type: none;
}

.question {
  font-size: 14pt;
  color: darkorange;

}

.answer {
  font-size: 12pt;
}

#score {

}

#errors {

}

// Класс Анимации для набранного теста, нужно доработать анимацию

#wordsArrPlace > span {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  padding-bottom: 5px;
  letter-spacing: 3px;
  font-weight: bolder;
  color: rgb(31, 31, 31);

}

.bar {
  border-bottom: 5px solid #5d5d5d;
  border-image: url(../img/status-bar.jpg) 60 round;
}

.out {
  background: none;
  animation: out-move 0.2s ease-in-out forwards;

}

@keyframes out-move {
  0% {
    opacity: 1;

  }

  70% {
    opacity: 0.5;
    color: #ff8922;
    border: none;

  }

  100% {
    opacity: 0.1;
  }
}

.space {
  display: inline-block;
  position: relative;
  background: #919191;
  width: 21px;
  padding-bottom: 2px !important;
  opacity: 0.7;
  margin: 12px 6px 0 6px;
  bottom: -4px;

}

.err1 {
  animation: err1-anim 2s ease-in-out infinite;
  //display: inline-block;
  position: relative;
  width: 21px;
  border: 1px solid #4b0e06;
  border-left: none;
  border-right: none;
  padding: 0 3px 4px 5px;
  border-radius: 30%;
  margin: 2px;
}

@keyframes err1-anim {
  0% {
    top: -10px;
    color: #bd2624;
  }

  50% {
    top: 10px;
    color: #000;
  }

  100% {
    top: -10px;
    color: #bd2624;

  }
}

//.out-2 {
//  display: none;
//}

.pacman {
  display: inline-block;
  position: relative;
  width: 30px;
}

#refresh {
  position: relative;
  top: 8px;
  left: 91%;
  width: 50px;
  height: 50px;

}

#status {
  position: relative;
  bottom: 190px;
  left: 78%;
  width: 51px;
  height: 51px;
}

.on {
  background: url(../img/green.png);
  background-size: cover;
}

.off {
  background: url(../img/red.png);
  background-size: cover;
}

.off {

}

#refresh:hover, #status:hover {
  cursor: pointer;
  opacity: 0.9;
}

.end-game {
  width: 100%;
  height: 350px;
  text-align: center;
}

.done {
  text-decoration: line-through;
}

@media screen and (max-width: 1240px) {
  #main, #game-main, .wrapper, .git  {
    display: none !important;
  }

  .norelise {
    display: block;
  }

  .mainB, html {
    height: 0;
    background: url(../img/stop-bg.jpg);
  }

}
